<nav class="navbar navbar-expand-lg navbar-white bg-dark navbar-inverse">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-target="#mynavbar"></button>
        <div class="collapse navbar-collapse " id="mynavbar">
            <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a [routerLink]="['/home']" class="nav-link">Home</a>
                </li>
                <li class="nav-item ">
                    <a [routerLink]="['/user']" class="nav-link">User</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/about']" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/server']" class="nav-link">Server</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/daseboard']" class="nav-link nav-brand">Daseboard</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Drop Down</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Email</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


