<header><app-dasboard></app-dasboard></header>
<body>
    <router-outlet></router-outlet>
    <table>
        <thead border="1">
            <tr>
            <th>USER_ID</th>
            <th>NAME</th>
            <th>USER_NAME</th>
            <th>USER_EMAIL</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of value">
            <tr> 
                <td>{{item.id}}</td>
                <button><td>{{item.name}}</td></button>
                <td>{{item.user}}</td>
                <td>{{item.email}}</td>
            </tr>
        </tbody>
    </table>
</body>
<footer>
    <p [ngClass]="ele">
        helo
    </p>
    <button (click)="show = !show">{{show ? 'hide' : 'show'}}</button>
    show = {{show}}
    <br>
    <div *ngIf="show; else elseBlock">Text to show</div>
    <ng-template #elseBlock>Alternate text while primary text is hidden</ng-template>

    <app-home></app-home>
</footer>

