<header><app-dasboard></app-dasboard></header>
<body>
    <router-outlet></router-outlet>
    <div class="container">
       <table class="table">
        <thead class="px-2">
            <tr class="col">
             <th>ID</th>
             <th>Title</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let post of POSTS | paginate:{
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count}; let i =index ">
             <td >{{post.id}}</td>
             <td >{{post.title}}</td>
            </tr>
         </tbody>
       </table>
       <pagination-controls
       previousLabel="Prev"
       nextLabel="Next"
       (pageChange)="onTableDataChange($event)"
       >
       
       </pagination-controls>
    </div>
</body>
<footer>
    <app-home></app-home>
</footer>

