<div class="container">
    <div class="row">
        <div class="col-sm-12 gy-5 ">
            <h1 class="justify-content-between text-center gy-5 text-primary">facebook</h1>
        </div> 
        <div class="col-sm-12">
            <div class="py-3">
                <div class="form-group">
                    <form class="border bg-light w-25 p-4 mx-auto ">
                        <div class="text-lg-start">
                            <h3>Create a new account</h3>
                            <p>It's quick and easy.</p>
                        </div>
                            <div class="pb-3">
                                <input type="text" class="form-control" name="first_name" placeholder="FirstName" formControlName = "userName">
                                </div>
                                <div class="pb-3">
                                    <input type="text" class="form-control" name="sure_name" id="sure_name" placeholder="Surename" formControlName = "sureName">
                                    </div>
                                    <div class="pb-3">
                                        <input type="text" class="form-control" name="user_id" id="user_id" placeholder="Mobile number or email address" formControlName = "emailId">
                                    </div>
                                    <div class="pb-3">
                                        <input type="password" class="form-control" name="new_password" id="new_password" placeholder="New password" formControlName = "newPassword">
                                    </div>
                                    <div class="pb-3">
                                        <input type="date" class="form-control" formControlName = "userName" formControlName = "date"> 
                                    </div>
                                    <div class="pb-1">
                                        <p>Gender</p>
                                    </div>
                                    <div class="pb-3">
                                        <div class="text-center">
                                            <input type="radio" name="request"> <label for=""class="px-2">Male</label><input type="radio" name="request"> <label for="" class="px-2">Female</label><input type="radio" name="request" ><label for=""class="px-2">Custom</label>
                                        </div>
                                    </div>
                                    <div class="pb-3 font-size: 2.5rem">
                                        <p >People who use our service may have uploaded your contact information to Facebook.</p>
                                        <p class="text-muted">By clicking Sign Up, you agree to our Terms, Privacy Policy and Cookies Policy. You may receive SMS notifications from us and can opt out at any time.</p>
                                    </div>
                                    <div class="text-center pb-1">
                                        <input class="btn btn-primary text-center" type="submit" value="Sign Up" >
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>